@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.App {
    text-align: center;
    padding: 3%;
}

.App img:hover {

    cursor: pointer;
}

.twoImages img{
width:48%;
margin:1%;
}

.twoImages img:hover{
    cursor: pointer;
}


.Hero 
{
text-align: center;
margin: 15px 0;
}

.Hero img {width: 45%;}

.App-header h1 {

    font-size: 3em;
}

.App-logo {
    pointer-events: none;
    top: -71px;
    position: relative;
    width: 35%;
    margin: 0 auto;
}


.term1 {
    
    pointer-events: none;
    text-align: center;
    box-shadow: 0 0 8px 3px #000;
}

.term2 {
    
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 8px 3px #000;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: justify;
    font-size: calc(3px + 2vmin);
    color: white;
    line-height: 32px;
}

.Container {

    display: block;
    width: 65%;
    margin: 0 auto;
    background: #13185796;
    box-shadow: 0 0 4px 1px #ffffff;
    font-family: 'Tilt Neon', cursive;
    text-align: justify;
    padding: 15px
    }
.Container h3 {

    margin: 10px 0;
    text-align: center;
}

    .Container h1{ text-align: center;}

    .popup-content {
        margin: auto;
        background: #093365 !important;
        width: 85% !important;
        padding: 5px;
        border: 1px solid #d7d7d7;
    }
    .modal {
        font-size: 12px;
      }
    
      .modal img {    
        width: 97%;
        margin: 1%;}


      .modal > .header {
        width: 100%;
        border-bottom: 1px solid gray;
        font-family: 'Tilt Neon', cursive;
        font-size: 18px;
        text-align: center;
        padding: 5px;
        color: #fff;
      }
      .modal > .content {
        width: 100%;
        padding: 10px 5px;
      }
      .modal > .actions {
        width: 100%;
        padding: 10px 5px;
        margin: auto;
        text-align: center;
      }
      .modal > .close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #fff;
        border-radius: 18px;
        border: 1px solid #cfcece;
      }


      hr {
        border: 0; 
        height: 3px; 
        width: 100%;
        background-image: linear-gradient(to right, #ffffff14, #0e49ba, #0e49ba, #ffffff14);
      }

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
